@media only screen and (max-width: 900px) {
    h1 {
        font-size: 1.7em;
    }

    .btn2 a,
    .btn1 a {
        font-size: 11px;
        color: #fff;
    }

    .bt {
        display: block;
    }

    .navs {
        position: absolute;
        top: 100%;
        width: 80%;
        /* left: 0; */
        right: 0;
        border-top: 1px white solid;
        display: none;
        background-color: #f2f2f2;
        height: 100vh;
    }

    .navs ul li {
        width: 100%;
    }



    .st1 {
        display: block;
    }

    .s1b {
        display: none;
    }

    .track {
        display: block;
    }

    .tracknone {
        display: none;
    }

    .about {
        display: block;
    }

    .services {
        display: block;
    }

    .footnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .reg {
        display: block;
    }

    .re {
        display: none;
    }
}


@media only screen and (max-width: 385px) {
    .footnav {
        display: block;
    }

    .services {
        display: block;
    }
}