html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Larsseit, -apple-system, BlinkMacSystemFont, sans-serif;
    /* -moz-osx-font-smoothing: grayscale; */
    text-rendering: geometricPrecision;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;

}



html {
    font-size: 16px;
    text-rendering: geometricPrecision;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 1.25;
}
small{
    font-size: 12px;
}

body {
    line-height: 1.6;
    background: #f2f2f2;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

.header {
    background-color: #fff;    border-bottom: 4px solid #00000099;

}

.nav-head {
    z-index: 100;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    display: flex;


}

.navs {
    align-content: right;
}

.navs ul {
    display: flex;
    list-style: none;

}

.navs ul li {
    margin-right: 20px;
    padding: 5px 10px;
}

.navs ul li a {
    text-decoration: none;
    color: #00000099;
    font-weight: bold;
}

.navs ul .signup {
    border-radius: 5px;
    background-color: #D31807;
    padding: 5px 10px;
    box-shadow: 0 2px 4px 0 rgb(2 43 105 / 15%);
}

.navs ul .signup a {
    color: #fff;
}

.navs ul .login {
    border: 2px solid #347fff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px 0 rgb(2 43 105 / 15%);
}

.navs ul .login a {
    color: #00000099;
}
.active{
    background-color: #347fff;
    border-radius: 5px;
}
ul .active a{
    color: #fff;
}


.bt{
    background-color: transparent;
    border: none;
    display: none;
}
.line {
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: #00000099;

}
.line2{
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: #00000099;
    transform: translateY(-5px) rotate(-225deg) ;
}
.line1{
    width: 30px;
    height: 5px;
    margin: 5px;
    background-color: #00000099;
    transform: translateY(5px) rotate(225deg) ;
}

label {
    font-size: 20px;
    color: #034ea2;
    cursor: pointer;
    display: none;
}

.mobile-menu{
    padding: 20px 5%;
    height: 80vh;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    display: none;
    /*animation: ;*/
    transition: opacity 0.5s, transform 0.5s;
}
.mobile-menu ul li{
    padding: 10px 0;
}
.mobile-menu ul li a{
    color: #00000099;
    font-weight: bold;
}
.mobile-nav2{
    display: none;
}



.desc{
    height: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/truck.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 5%;
}
.desc h1{
    color:  #fff;
    text-align: center;
}





.st1 {
    display: grid;
    height: 550px;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/truck.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.st1 p {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.6;
}

.s1a {
    padding: 100px 10% 100px 8%;

}

.s1a h1 {
    color: #ffffff;
}

.s1a p {
    color: #ffffff;
    padding-top: 20px;
}



.action {
    margin-top: 50px;
    display: flex;
}

.btn1 {
    background-color: #347fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn1 a{
    font-size: 13px;
    color: #fff;
}
.btn2 {
    margin-left: 20px;
    background-color: #D31807;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn2 a{
    font-size: 13px;
    color: #fff;
}





.track{
    background-color: #347fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 5%;
}
.tracking form input{
    font-style: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    width:  70%;
}

.tracking form button{
    
    font-style: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #D31807;
    /*border: 1px solid blue;*/
}







.abt{
    /*margin-top: 200px;*/
    background-color: #fff;
    padding: 50px 5%;

}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.abt-us h2{
    font-size: 1.8em;
    font-weight: bold;
    color:#D31807;
}
.abt h4 {
    font-size: 1.4em;
    color: #347fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.abt-us p{
    color: #00000099;
}
.abt-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/
}
.abt-img img{
    width: 100%;
    padding:20px 10% 0 10%;
}







.sv{
    background-color: #f2f2f2;
    padding: 50px 8%;
    text-align: center;
    
}
.sv h2{
    font-size: 1.8em;
    color: #D31807;
    font-weight: bold;
}

.sv h3{
    font-size: 1.1em;
    color: #347fff;
    font-weight: bold;
    margin-bottom: 20px;;
}
.sv h4{
    font-size: 1.4em;
    color: #347fff;
    font-weight: bold;
    margin-bottom: 20px;;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.serv{
    background-color: #fff;
    border-radius: 20px 0px 20px 0px;
    padding: 20px;
    margin-bottom: 20px;
    color: #7c7e84;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}





.slide{
    padding: 25px 5%;
    background-color: #347fff;
}
.slide h2{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
}







.ct{
    /*background-color: #fff;*/
    background-image: linear-gradient(#2196f399, #1b1818), url(../img/truck.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cont{
    /*width: 80%;*/
    /*padding: 0 5%;*/
    background: #fff;
    margin: auto;
    padding: 50px 0px;
}

.contact input{
    width: 80%;
    height: 40px;
    margin-top: 30px;
    padding: 3px 20px;
    outline: none;
    border: 1px solid #ddd;
    color: #7c7e84;
    font-size: 16px;
    background-color: #f6f6f6;
}

.contact textarea{
    width: 80%;
    height: 100px;
    margin-top: 30px;
    padding: 3px 20px;
    outline: none;
    border: 1px solid #ddd;
    color: #7c7e84;
    font-size: 16px;
    background-color: #f6f6f6;
}

.contact button{
    width: 84%;
    margin-top: 30px;
    padding: 15px;
    background-color: #347fff;
    border: none;
    color: #fff;
    font-size: 18px;
}





/*========================FAQ=========================*/



footer{
    padding: 50px 5% 30px 5%;
    background-color: #347fff;
}


.footnav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.footnav h3{
    color: #D31807;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.footnav p{
    padding-left: 10px;
    color: #f2f2f2;
}

.footnav li{
    padding-left: 10px;
}
.fsect{
    margin-bottom: 20px;
    
}

.foot{
    text-align: center;
    background-color: #00000099;
    color: #fff;
    padding: 10px;
}




/*========================FAQ=========================*/

.tr{
    background-color: #fff;
}

.trk{
    background-color: #ddd;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 10px;
}


.ree{
    margin: 0;
    padding: 0;
}
.reg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rt{
    padding: 50px 0%;
}
.re{
    width: 100%;
    height: 100%;
    background-image: url(../img/truck.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cta{
    padding-top: 20px ;
}




/*========================FAQ=========================*/



.wrapper{
  max-width: 90%;
  margin: auto;
  padding: 25px 0px;
}
.wrapper .parent-tab,
.wrapper .child-tab{
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label{
  background: #347fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover{
  background: #006fe6;
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label{
  border-radius: 3px 3px 0 0;
  background: #006fe6;
}
.wrapper label span{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label span{
  font-size: 17px;
}
.parent-tab label .icon{
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #007bff;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label .icon{
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before{
  content: '\f068';
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}
.tab-3 input:checked ~ .content{
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p{
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p{
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
